<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stormy Weather</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/stormy.css">
</head>
<body>

<div id="headbar">
    <h1>Stormy Weather
    <div id="icons">
        <div id="phone"><img src="../images/phone.png"></div>
        <div id="tablet"><img src="../images/tablet.png"></div>
        <div id="computer"><img src="../images/computer.png"></div>
    </div></h1>
</div>

<div id="box">
    <p>
        Life is bare, gloom and mis'ry <br>
        everywhere. Stormy weather. just <br>
        can't get my poor self together. <br>
        I'm weary all the time, <br>
        so weary all the time.<br>
        <br>
        When he went away the blues walked <br>
        in and met me. If he stays away old <br>
        rockin' chair will get me.
    </p>
</div>





</body>
</html>